---
const { title, features, route, index } = Astro.props;
import Features from "./Features.astro";
import { Button } from "@nextui-org/react";
---

<div
    id={`${index === 1 ? "center-card" : "common"}`}
    class={`card transition duration-200 rounded-[5px] py-[5vh] px-[6vh] group`}
>
    <h2
        class="pb-[2vh] text-[1rem] text-pretty text-white font-bold border-b-1 border-[var(--semidark)]"
    >
        {title}
    </h2>
    <Features features={features} />
    <a href=`/${route}`>
        <Button
            client:visible
            className="mt-[10vh] hover:bg-[#ddd] px-[30px] font-semibold bg-white mx-auto text-black text-[.9rem] flex justify-center rounded-[5px]"
        >
            <span>Más información</span>
        </Button>
    </a>
    
</div>

<script src="../../scripts/hovercard.js"></script>

<style>
    .card {
        position: relative;
        overflow: hidden;
        background-color: var(--dark);
        transition: 0.2s;
    }

    .card:hover {
        transform: translateY(-5px);
        opacity: 1;
    }

    .card::before {
        content: "";
        position: absolute;
        top: var(--y);
        border-radius: 100%;
        left: var(--x);
        transform: translate(-50%, -50%);
        background: radial-gradient(var(--primary), transparent, transparent);
        width: 900px;
        transition:
            0.2s,
            top 0s,
            left 0s;
        height: 900px;
        opacity: 0;
    }

    .card:hover::before {
        opacity: 1;
        filter: brightness(150%);
    }

    .card::after {
        content: "";
        position: absolute;
        inset: 2px;
        border-radius: 5px;
        z-index: 1;
        background-color: var(--opacity-red);
    }

    h2,
    .features,
    Button {
        position: relative;
        z-index: 5;
    }
    #center-card {
        filter: brightness(150%);
        transform: scale(1.05);
    }
    #center-card button,
    #center-card h2
    {
        filter: brightness(70%);
    }
</style>
