---
const { features } = Astro.props;
import CheckIcon from "./CheckIcon.astro";
---

<ul class="features mt-[7%] z-10 relative">
    {
        features.map((feature: string) => (
            <li class="flex justify-between w-fit place-items-center gap-x-2">
                <span class="tablet-md:transform tablet-md:scale-125 2xl:transform 2xl:scale-125">
                    <CheckIcon />
                </span>
                <span class="tablet-md:text-[1rem] text-pretty 2xl:text-[1rem]">{feature}</span>
            </li>
        ))
    }
</ul>

<style>
    li {
        margin-bottom: 1.5vh;
        font-weight: 100;
        font-size: 0.75rem;
        color: #ddd;
    }
</style>
