---
const { includes } = Astro.props;
interface PropsConfig {
    title: string;
    description: string;
}
---

<article class="content relative w-screen cel:h-fit h-screen bg-transparent pt-[10%]">
        <h1 class="cel:mb-[5vh] cel:text-[2rem] cel:w-full cel:px-0 px-[10vh] text-white text-[3rem] font-extrabold relative text-center">
        ¿Qué incluye? 
    </h1>
    <div class="cel:grid-cols-2 cel:w-full cel:gap-x-0 w-[80%] mx-auto grid grid-cols-3 gap-x-4 gap-y-4 mt-[2%]">
        {
            includes?.map((include: PropsConfig, index: number) => (
                <div class="cel:relative cel:z-10 cel:px-[2vh] cel:py-0 px-[7vh] py-[5vh]">
                    <h3 class="cel:text-center mb-[2%] cel:text-[.8rem] text-[var(--primary)] text-[1.2rem] font-extrabold text-balance">
                        {include.title}
                    </h3>
                    <p class="cel:text-center cel:text-balance text-[#ccc] text-pretty text-[.75rem]">
                        {include.description}
                    </p>
                </div>
            ))
        }
    </div>
</article>

<style>
    h1 {
        letter-spacing: 2px;
        text-shadow: 0px -10px 120px var(--primary);
    }
    .content::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
            black,
            transparent,
            transparent,
            transparent
        );
    }
</style>
