---
import { AccordionFaq } from "./AccordionFaq";
const { content } = Astro.props;
---

<article id="questions" class="pb-[20vh] h-fit w-[80%] mx-auto">
    <h1
        class="lg:text-[1.5rem] 2xl:text-[3.3rem] text-[#ddd] text-[2.5rem] font-semibold"
    >
        {content.title}
    </h1>
    <AccordionFaq content={content} client:visible />
</article>
