---
import { AccordionFaq } from "./AccordionFaq";
const { content } = Astro.props;
---

<article
    id="questions"
    class="cel:h-fit  cel:w-[80%] flex flex-col justify-center place-items-center mt-[20vh] pb-[20vh] h-screen w-[70%] mx-auto"
>
    <h1
        class="mb-[5vh] cel:text-[1.5rem] cel:w-full lg:text-[1.5rem] 2xl:text-[3.3rem] text-[#ddd] text-[2.5rem] font-semibold"
    >
        Preguntas frecuentes
    </h1>
    <AccordionFaq content={content} client:visible />
</article>
