---
const { image, title, text } = Astro.props;
---

<section
    class="tab:mb-[15vh] tab:h-fit local-main relative w-screen h-screen flex justify-between place-items-center"
>
    <article class="tab:hidden cel:hidden left relative w-[50%] h-screen">
        <img class="w-full h-full" src={image} />
    </article>
    <article
        class="tab:h-fit tab:py-[20vh] tab:w-full cel:w-4/5 cel:mx-auto flex flex-col justify-center place-items-center pb-[5%] w-[50%] h-screen"
    >
        <h2 class="2xl:text-[3.5rem] tab:text-center tab:text-[3.5rem] cel:text-center text-left w-[80%] tab:w-full text-white text-[3rem] font-bold">
            {title}
        </h2>
        <p class="2xl:text-[1.1rem] tab:text-center tab:text-[1.5rem] tab:w-[80%] tab:text-pretty cel:text-center cel:w-full w-[60%] mx-auto text-pretty text-right mt-[3vh] text-[#ccc]">
            {text}
        </p>
    </article>
</section>

<style>
    .left::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, transparent, black);
        z-index: 1;
    }
    .local-main::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(transparent, transparent, black);
        z-index: 1;
    }
</style>
