<article class="relative py-[30vh] w-screen min-h-screen h-fit">
    <div class="relative w-[65%] mx-auto">
        <div class="mb-[7.5%]">
            <h2 class="font-extrabold text-[3rem] text-[#ddd]">
                ¿Quién soy ahora?
            </h2>
            <ul class="flex w-fit gap-x-4 text-[#aaa] text-[.7rem] font-light">
                <li>#powerlifting</li>
                <li>#entrenamiento</li>
                <li>#motivación</li>
            </ul>
        </div>

        <div class="gap-x-16 flex justify-between w-full">
            <div>
                <h3 class="text-[#ccc] mb-[2%] font-bold text-[1.2rem]">
                    Powerlifting
                </h3>
                <p class="leading-[2] text-balance text-[#aaa] text-[.9rem]">
                    Hoy te hablo desde este lugar contándote que llevo 6
                    campeonatos de powerlifting estando invicto y un solo tercer
                    puesto, coronando la categoría -74kg junior de Argentina con
                    dos récord nacionales el cual dispute en julio del 2024
                    estando lesionado y así y todo luchamos por el objetivo…
                    Pero me di cuenta que competir en Argentina es algo más que
                    todos pueden hacer y decidi trascender a otro nivel.
                </p>
            </div>

            <div>
                <h3 class="text-[#ccc] mb-[2%] font-bold text-[1.2rem]">
                    Marca de discos
                </h3>
                <p class="leading-[2] text-balance text-[#aaa] text-[.9rem]">
                    Cree una de las mejores marcas de discos calibrados de
                    Argentina con la mejor calidad llamada “Zenith” y comencé a
                    vivir el powerlifting desde otra perspectiva creando
                    contenido, con nuevos métodos y con mejores resultados que
                    verás reflejados en mi equipo de powerlifting. Hoy mi
                    objetivo número uno es motivar a todas las personas que
                    comiencen el deporte y aprender a vivirlo de la manera
                    correcta para sacar el mayor potencial.
                </p>
            </div>
        </div>
    </div>
</article>

<style>
    article {
        background: linear-gradient(to right bottom, transparent, var(--dark));
    }
    article::before {
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(
            black,
            transparent,
            transparent,
            transparent,
            transparent,
            transparent,
            transparent
        );
    }
    li {
        padding: 8px 15px;
        background-color: var(--dark);
        border-radius: 5px;
    }
</style>
