---
import ArrowBack from "../components/404/ArrowBack.astro";
import LogoAlt from "../components/LogoAlt.astro";
import LayoutAlt from "../layouts/LayoutAlt.astro";
---

<LayoutAlt title="Página no encontrada">
    <article class="flex flex-col w-screen h-screen max-h-[100vh] bg-[#121212]">
        <div class="pt-[10%] pl-[10%]">
            <h2
                class="2xl:text-[6.5rem] text-white font-extrabold text-[5rem] text-balance"
            >
                NO PUDIMOS ENCONTRAR ESA PÁGINA
            </h2>
            <a
                href="/"
                class="2xl:text-[1.3rem] flex justify-between place-items-center w-fit gap-x-2 text-[#ddd]"
            >
                <span><ArrowBack /></span>
                <span>Volver a la página inicial</span>
            </a>
        </div>
        <div class="pb-[10%] mt-auto flex justify-end pr-[10%]">
            <LogoAlt />
        </div>
    </article>
</LayoutAlt>
