---
const redes = [
    {
        quantity: 15000,
        text: "Seguidores en Instagram",
    },
    {
        quantity: 1500,
        text: "Suscriptores en Youtube",
    },
    {
        quantity: 300,
        text: "Clientes satisfechos",
    },
];
---

<article
    id="community"
    class="cel:pt-0 pt-[20vh] flex place-items-center justify-center w-screen h-screen cel:h-fit"
>
    <div class="cel:w-[80%] w-[70%] cel:min-h-[40vh] min-h-[80vh] cel:py-[5vh]">
        <section class="cel:block gap-x-16 h-full w-full flex justify-between">
            <article class="cel:w-full w-[45%] h-full font-bold text-[2.5rem]">
                <h2
                    class="2xl:text-[3rem] 2xl:mb-[2vh] text-white mb-[5vh] cel:mb-0"
                >
                    Mi comunidad
                </h2>
                <p
                    class="2xl:text-[1.3rem] text-pretty mb-[2vh] text-[.9rem] text-[#ccc] font-extralight"
                >
                    A lo largo de los años que llevo creando contenido, pude
                    formar una comunidad muy grande y colaborativa.
                </p>
                <p
                    class="2xl:text-[1.3rem] text-pretty cel:hidden text-[.9rem] text-[#ccc] font-extralight"
                >
                    Con el tiempo, he tenido la oportunidad de construir una
                    comunidad comprometida y unida, donde cada miembro aporta su
                    energía y entusiasmo.
                </p>
            </article>

            <article class="cel:w-full h-full w-[55%] grid grid-cols-2 gap-16">
                {
                    redes.map((red, index) => (
                        <div>
                            <h2 class="2xl:text-[2.4rem] font-extrabold cel:text-[2.5rem] text-[2rem] text-white tracking-[3px]">
                                +{red.quantity}
                            </h2>
                            <p class="2xl:text-[1.5rem] cel:text-[.8rem] cel:text-pretty text-[var(--light)]">
                                {red.text}
                            </p>
                        </div>
                    ))
                }
                <div>
                    <iframe
                        width="100%"
                        height="75%"
                        src="https://www.youtube.com/embed/MzKH0pYg28M?si=2sOkBocHuBF9CYXh"
                        title="YouTube video player"
                        frameborder="0"
                        class="w-[15vw] h-[15vh] cel:mb-auto cel:w-full cel:h-full"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin"
                        allowfullscreen></iframe>
                </div>
            </article>
        </section>
    </div>
</article>
