<article
    id="contact"
    class="cel:h-fit w-screen h-screen flex flex-col justify-center place-items-center"
>
    <h2 class="text-[1.1rem] tracking-[5px] text-[var(--primary)]">
        EMPECEMOS A TRABAJAR
    </h2>
    <h1 class="cel:text-[2.5rem] cel:text-center cel:text-balance cel:w-[90%] font-bold text-white text-[3rem]">
        CONSTRUYAMOS TU MEJOR VERSIÓN
    </h1>
    <p class="cel:w-[90%] cel:text-pretty text-[#ccc] text-center text-[.8rem] w-[65%] text-pretty">
        Con mi enfoque en técnicas probadas, nutrición balanceada y un
        seguimiento constante de tu progreso, te garantizo resultados visibles y
        sostenibles. Juntos superaremos cualquier obstáculo y alcanzaremos tus
        metas de forma segura y efectiva.
    </p>
    <a
        class="cel:mt-[5%] mt-[2%]"
        href="https://api.whatsapp.com/message/TGEKMJVVSAEDE1?autoload=1&app_absent=0"
        target="_blank"
    >
        <button
            class="transition duration-200 hover:bg-[var(--semidark)] hover:text-white font-semibold bg-[var(--primary)] text-black px-[40px] py-[2vh]"
        >
            CONTACTAME
        </button>
    </a>
</article>

<style>
    button {
        transform: skew(-7deg, 0deg);
    }
    button:hover {
        transform: scale(1.1) skew(-7deg, 0deg);
    }
</style>
