---
import Logo from "./Logo.astro";
import Instagram from "./footer/Instagram.astro";
import Youtube from "./footer/Youtube.astro";
import Whatsapp from "./footer/Whatsapp.astro";
import Copyright from "./footer/Copyright.astro";
import LogoAlt from "./LogoAlt.astro";
const { isAlt } = Astro.props;
---

<footer class="mb-0 cel:mt-[25vh] w-screen h-fit">
    <div
        class="cel:transform cel:block w-[70%] mx-auto flex justify-between py-[10vh]"
    >
        <article
            class="cel:flex cel:flex-col cel:justify-center cel:place-items-center"
        >
            {isAlt ? <LogoAlt /> : <Logo />}
            <ul
                class="2xl:gap-x-12 mt-[10%] flex place-items-center justify-between w-fit gap-x-8"
            >
                <li>
                    <a
                        target="_blank"
                        href="https://www.instagram.com/santizzaporta_/"
                        ><Instagram /></a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        href="https://www.youtube.com/@santizaporta"
                        ><Youtube /></a
                    >
                </li>
                <li>
                    <a
                        target="_blank"
                        href="https://api.whatsapp.com/message/TGEKMJVVSAEDE1?autoload=1&app_absent=0"
                        ><Whatsapp /></a
                    >
                </li>
            </ul>
        </article>
        <article
            class="cel:mt-[5vh]"
        >
            <p
                class=" 2xl:text-[1rem] cel:text-center cel:text-pretty cel:justify-center cel:w-fit cel:mb-[3vh] text-[#ccc] text-[.8rem] flex place-items-center justify-between gap-x-2"
            >
                <span class="2xl:transform 2xl:scale-[1.3] cel:hidden"><Copyright /></span>
                <span
                    >2024 - Santiago Zaporta. Todos los derechos reservados</span
                >
            </p>
            <p
                class="2xl:text-[1rem] cel:text-center text-[#ccc] text-[.8rem] text-right mt-[2%]"
            >
                <span>Desarrollado por</span>
                <a
                    class="text-[var(--clr-pulsetech)] font-semibold"
                    href="https://pulsetech-chi.vercel.app/"
                    target="_blank">pulsetech</a
                >
            </p>
        </article>
    </div>
</footer>

<style>
    @media (min-width: 1536px) {
        li {
            transform: scale(1.4);
        }
    }
</style>
