---
import ArrowHome from "./home/ArrowHome.astro";
---

<div
    id="home"
    class=" cel:text-center z-10 home flex flex-col justify-center place-items-center min-w-screen h-screen relative"
>
    <div class="max-w-screen content-home h-[75%] flex place-items-center justify-center">
        <h1
            class="font-extralight text-center cel:text-[2rem] text-[3.5rem] text-white"
        >
            ZAPORTA <br class="hidden cel:visible" /> COACH
        </h1>
    </div>

    <a href="/acerca" class="hidden cel:block text-white font-extrabold px-[5vh] py-[1.5vh] local-about mt-[-50%] mb-[35%]">
        Sobre mí
    </a>

    <a href="#services">
        <ArrowHome />
    </a>
</div>

<style>
    @keyframes homeBottom {
        0% {
            opacity: 0;
            letter-spacing: -15px;
        }
        100% {
            opacity: 1;
            letter-spacing: 50px;
        }
    }

    @media (max-width: 768px) {
        @keyframes homeBottom {
        0% {
            opacity: 0;
            letter-spacing: -15px;
        }
        100% {
            opacity: 1;
            letter-spacing: 25px;
        }
    }
    }

    .content-home {
        overflow: hidden;
        animation: homeBottom 1.5s ease-in forwards;
        will-change: letter-spacing;
        animation-timing-function: cubic-bezier(0, 1.04, 0.76, 0.96);
    }
    .home {
        background: linear-gradient(var(--dark-opacity), var(--dark-opacity)),
            url(../../public/images/home/pichome.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .home::before {
        content: "";
        top: 0;
        background: linear-gradient(
            transparent,
            transparent,
            transparent,
            transparent,
            transparent,
            black
        );
        left: 0;
        z-index: -1;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    @keyframes moveDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0);
        }
    }

    a {
        animation: moveDown 2s infinite ease-in-out;
    }
    .local-about {
        background-color: rgba(194, 193, 193, 0.2);
    }
</style>
