<a href="/">
    <h2 class="tab:text-[2rem] text-[1.2rem] font-extrabold tracking-[5px]">
        <span class="text-black bg-[var(--primary)] px-[5px]">SANTI</span>
        <span class="text-white bg-transparent">ZAPORTA</span>
    </h2>
</a>
